.contents
  .sidebar
    .sidebar__top
      .sidebar__top__user-name Daisuke
      = link_to new_group_path, class: "sidebar__top__new-group" do
        %i{class: "fa fa-pencil-square-o fa-2x" }
      = link_to edit_user_registration_path, class: "sidebar__top__edit-account" do
        %i{class: "fa fa-cog fa-2x" }
    .sidebar__group
      .sidebar__group-name 職場
      .sidebar__group__last-message test test 
      .sidebar__group-name 職場
      .sidebar__group__last-message test test 
      .sidebar__group-name 職場
      .sidebar__group__last-message  test test 
  .main
    .main__select
      .main__select__group-name 職場
      %a.main__select__edit-botton{href:""} Edit
      .main__select__group__member-list Members: test test test test test test 
    .main__message
      .main__message__send-name Daisuke
      .main__message__send-time 2017/7/25 18:34:23
      .main__message__content  test test test test 
    .main__message
      .main__message__send-name Daisuke
      .main__message__send-time 2017/7/25 18:34:23
      .main__message__content  test test test test 
    .main__message
      .main__message__send-name Daisuke
      .main__message__send-time 2017/7/25 18:34:23
      .main__message__content test test test test 
    .main__send
      %form
        %input{type: "text", placeholder: "type a message", class: "main__send__message"}
        %label{class: "main__send__form"}
          %i{class: "fa fa-image"}
          %input{type: "file", class: "main__send__form-image"}
        %input{type: "submit", class: "main__send-botton", value: "send"}
