.sidebar__group
  - @groups.each do |group|
    = link_to group_messages_path(group), class: "sidebar__group__link"  do
      .sidebar__group__link-name  #{group.name}
      .sidebar__group__link-last-message last-message
